.cart-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.cart-items {
    width: 60%;
}

.cart-items h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: white;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cart-item img {
    width: 80px;
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
    color: white;
}

.cart-item-actions {
    display: flex;
    align-items: center;
    color: white;
}

.cart-item-actions a {
    color: #A0A0A0;
    text-decoration: none;
    margin-right: 15px;
}

.cart-item-actions a:hover {
    text-decoration: underline;
}

.cart-summary {
    width: 35%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
}

.cart-summary h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: white;
}

.cart-summary .total {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 20px 0;
}

.cart-summary button {
    width: 100%;
    padding: 15px;
    background-color: #7a3cff;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cart-summary button:hover {
    background-color: #5f2fcc;
}

.cart-summary .promo-code {
    display: flex;
    margin-bottom: 10px;
}

.cart-summary input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cart-summary button.promo-apply {
    background-color: #7a3cff;
    border-radius: 0 5px 5px 0;
    margin-left: -1px;
}

/* Responsividad para pantallas medianas */
@media (max-width: 768px) {
    .cart-container {
        flex-direction: column;
    }

    .cart-items, .cart-summary {
        width: 100%;
    }

    .cart-summary .promo-code {
        flex-direction: column;
    }

    .cart-summary input[type="text"] {
        margin-bottom: 10px;
        border-radius: 5px; /* Cambiar bordes para alinearlo en vertical */
    }

    .cart-summary button.promo-apply {
        width: 100%; /* Asegurarse de que el botón ocupe el 100% del ancho */
        border-radius: 5px; /* Bordes redondeados */
    }
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 480px) {
    .cart-summary h3 {
        font-size: 1.2rem;
    }

    .cart-summary .total {
        font-size: 1.4rem;
    }

    .cart-summary input[type="text"] {
        padding: 8px;
        font-size: 1rem;
    }

    .cart-summary button {
        padding: 12px;
        font-size: 1rem;
    }
}
